[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

bind-address		= 127.0.0.1
# Skip reverse DNS lookup of clients
skip-name-resolve

key_buffer		= 768M
max_allowed_packet	= 768M
thread_stack		= 64M
thread_cache_size       = 300

myisam-recover         = BACKUP
max_connections        = 800

query_cache_limit	= 128M
query_cache_size        = 512M

[isamchk]
key_buffer		= 256M

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
